.resetPasswordContainer{
    width:100vw;
    height:100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    position: fixed;
    top:0;
    left:0;
    /* border:2px solid red; */
}
.resetPasswordBox{
    /* border:2px solid red; */
    background-color: white;
    width:25vw;
    height:70vh;
    box-sizing: border-box;
    overflow: hidden;
}

.resetPasswordForm{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding:2vmax;
    justify-content: space-evenly;
    height:70%;
    transition:all 0.5s;
}
.resetPasswordForm > div >span{
    position: absolute;
    transform: translateX(19vmax);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.64);
    
}
.resetPasswordForm > div >span >svg{
        font-size:1.6vmax;        
}
.resetPasswordHeading{
    text-align: center;
    color:rgba(0,0,0,0.664);
    font:400 1.3vmax "Roboto";
    padding:1.3vmax;
    border-bottom:1px solid rgba(0,0,0,0.205);
    width:50%;
    margin: auto;
}
.resetPasswordForm > div{
    display: flex;
    width: 100%;
    align-items: center;
}
.resetPasswordForm > div > input{
    padding:1vmax 4vmax;
    padding-right:1vmax;
    width:100%;
    box-sizing: border-box;
    border:1px solid rgba(0,0,0,0.267);
    border-radius:4px;
    font:300 0.9vmax cursive;
    outline:none;
}
.resetPasswordForm > div > svg{
    position:absolute;
    transform:translateX(1vmax);
    font-size:1.6vmax;
    color:rgba(0,0,0,0.623);
}



.resetPasswordBtn{
    border: none;
    background-color: #e60584;
    color: white;
    font:300 0.9vmax "Roboto";
    width:100%;
    padding:0.8vmax;
    cursor:pointer;
    transition:all 0.5s;
    border-radius: 4px;
    outline:none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.219);
}

.resetPasswordBtn:hover{
    background-color: #c60572;
}
#popupMessage{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.774);
    font-style: "Roboto";
}

/* css for mobile-phones */
@media screen and (max-width:910px){
    .resetPasswordForm > div >span{
        transform: translateX(18vmax);
    }
    .resetPasswordForm > div >span > svg{
        font-size:1.6vmax;        
    }
}
@media screen and (max-width:750px){
    .resetPasswordContainer{
        background-color: white;
    }
    .resetPasswordBox{
        width: 100vw;
        height:95vh;
    }
    .resetPasswordForm{
        padding:5vmax;
    }
    .resetPasswordForm > div > input{
        padding:2.5vmax 5vmax;
        font:300 2vmax "Roboto";
    }
    .lresetPasswordForm > div > svg{
        font-size: 2.8vmax;
    }
    .resetPasswordForm > a{
        font: 500 1.8vmax "Gill Sans";
    }
    .resetPasswordBtn{
        font:300 1.9vmax "Roboto";
        padding:1.8vmax;
    }
    .resetPasswordForm > div >span{
        transform: translateX(86vmax);
    }
    .resetPasswordForm > div >span > svg{
        font-size:2.3vmax;        
    }
}
@media screen and (max-width:400px){
    .resetPasswordForm > div >span{
        transform: translateX(39vmax);
    }
    .resetPasswordForm > div >span > svg{
        font-size:2.8vmax;        
    }
}